.scrollable-container {
    height: 70vh;
    overflow-y: auto;
}

.custom-bg {
    background-color: #aaa8a8;
    border-radius: 10px;
    padding: 10px;
}

.custom-col {
    border-right: 1px solid #312e2e;
    padding-right: 15px;
}

.Finalizado {
    background-color: #1c9444;
    border-radius: 10px;
    display: inline-block;
    padding: 5px;
}

.cat-prio{
    padding: 5px;
}

.Abierto {
    background-color: #ff0000;
    border-radius: 10px;
    display: inline-block;
    padding: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

.Procesando{
    background-color: #ff9800;
    border-radius: 10px;
    display: inline-block;
    padding: 5px;
    margin-left: 2px;
    margin-right: 2px;
}



.comentario {
    background-color: aliceblue;
    border-radius: 10px;
    max-width: 90%;
    margin: 10px auto; /* Centra verticalmente y ajusta el margen horizontal */
    padding: 5px;
    margin-left: 20px;
}


.scrool-comentarios{
    max-height: 60vh;
    overflow-y: auto;
    padding: inherit;
}
